body {
  margin: 0;
  font-family: system-ui, -apple-system, sans-serif;
}

.app {
  min-height: 100vh;
  display: grid;
  gap: 8px;
  text-align: center;
}

.app > h1,
.app > p {
  margin: 0;
  padding: 1rem;
}

h1,
p {
  margin: 0;
}
