@use './_variables' as *;
@use './_mixins' as *;

:root {
  color-scheme: light dark;
  --padding: 2rem;
  --padding-half: 1rem;
  --max-width: 25rem;
  --color-primary: #1e1d1e;
  --color-secondary: #fff;


  --button-color: #000;
  --button-bg: #fff;
  --button-bg-primary: #23844d;
  --button-hover: rgba(0, 0, 0, 0.25);

  --transition: 0.1s;


  --font-size-s: 0.8rem;
  --font-size-m: 1.25rem;
  --font-size-l: 1.5rem;

    --border-radius: 3rem;

    --portfolio-width: 35rem; // 560px
}

* {
    box-sizing: border-box;
}

body {
    background: var(--color-primary);
  margin: 0;
  font-family: "Outfit", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    margin: 0;
}

button {
    @include pill-r;
    @include hght;

    font-family: "Outfit", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;

    font-size: var(--font-size-m);
    font-weight: 900;
    border: none;

    cursor: pointer;
    color: var(--button-color);
    background-color: var(--button-bg);
    transition: background-color var(--transition);

    &:hover {
        
    }

    &:active {
        filter: brightness(1);
    }
}

.app {
  display: flex;
  justify-content: end;
}



.cut-selector {
    @include hght;
    border-radius: var(--border-radius);
    box-sizing: unset;
    display: flex;
;
    align-items: center;
    padding: 0.5rem 1rem;
    width: calc(100% - 1.5rem);
    margin-right: 0;
    cursor: pointer;
    z-index: 1;
    position: relative;
    box-shadow: 0 0 0 transparent;
    transition: background-color 0.5s, color 0.5s, width 0.5s, margin-right 0.5s, box-shadow 0.5s;
    user-select: none;

    .cut-percent {
        text-align: center;
        background: white;
        font-size: var(--font-size-s);
        font-weight: 200;
        width: 2.25rem;
        height: 2.25rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        letter-spacing: -0.025rem;
        transition: transform var(--transition), color var(--transition);
        transform: scale(0.3);
        margin: 0 1.5rem 0 0.7rem;

        small {
            font-size: 90%;
        }
        
    }

    .cut-name {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 0;
        transition: gap var(--transition);
        margin-left: 0.5rem;
        width: 7rem;

        .cut-name-text {
            font-size: var(--font-size-m);
        }
        .cut-verb {
            font-size: var(--font-size-s);
            opacity: 0;
            height: 0;
            transition: opacity var(--transition), height var(--transition);
            font-weight: 200;
        }
    }

    .cut-duration {
        font-size: var(--font-size-l);
        letter-spacing: -2px;
        font-weight: 600;
        text-align: right;
        width: 4rem;
        font-family: "Google Sans Code", monospace;
        margin: 0 1rem;
    }


    .cut-narrate-container {
        position: absolute;
        right: 0;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        opacity: 0;
        padding: 0.5rem;
        transition: opacity 0.4s;
        transition-delay: 0.2s;
 
        .cut-narrate {
            opacity: 0;
            background: var(--button-bg-primary);
            color: var(--button-bg);
            padding: 0.5rem 1rem;
            
        }
    }

    &.selected, &:hover {
        background-color: var(--button-hover);

        .cut-name {
            gap: 0.25rem;

            .cut-verb {
                opacity: 1;
                height: 1rem;
            }
        }

        .cut-percent {
            transform: scale(1);
            color: var(--color-primary);
        }


    }

    &.selected {
        margin-right: -10rem;
        width: calc(100% + 8rem);
        background-color: var(--button-color);
        box-shadow: 0 0.75rem 0.75rem #00000070;

        .cut-narrate-container {
            opacity: 1;

            button {
                opacity: 1;
            }
        }

    }
}

.cuts-slider {
    display: flex;
    flex-direction: column;
    gap: 0.25rem;

    position: relative;


    &:before,
    &:after {
        content: "";
        position: absolute;
        bottom: 2rem;
        width: 0.75rem;
        height: 100%;
        height: -webkit-fill-available;
        background: rgba(255, 255, 255, 0.1019607843);
        z-index: 0;
        left: 50%;
        border-radius: 1rem;
        top: 2rem;
    }

    &:after {
        background-color: #fff;
        top: inherit;
        bottom: 1.7rem;
        padding-top: 0.6rem;
        display: none;
    }
    &.cut-selected-FUL:after {
        height: 80%;
    }
    &.cut-selected-SUM:after {
        height: 60%;
    }
    &.cut-selected-CHA:after {
        height: 40%;
    }
    &.cut-selected-REL:after {
        height: 20%;
    }
    &.cut-selected-BCA:after {      
        height: 0%;
    }



}

.narrator {

    .narrator-action {
        text-align: center;
        font-weight: 100;
        margin-bottom: 2rem;
        opacity: 0.5;
    }

    .narrator-gradient-container {
        width: 100%;
        height: 100%;
        overflow: hidden;
        position: absolute;
        z-index: -1;
        top: -2rem;
        left: -2rem;
        border-radius: var(--border-radius);
        box-shadow: 0 1rem 1rem rgba(0, 0, 0, 0.3);
        box-sizing: unset;
        padding: var(--padding);
    }


    .narrator-gradient{
        background: linear-gradient(
            to right,
            #4c6188 0%,
            #437960 30%,
            #5b6a3d 42%,
            #845c40 62%,
            #843b3b 70%,
            #4c6188 100% 
          );
          
          
        width: calc(var(--max-width) * 5.4);
        height: 175%;
        transform-origin: 17% 15%;
        transition: transform 1s ease-in-out;
        transition-delay: 0.5s;

        &.cut-selected-FUL{
            transform: rotate(45deg) translateX(0);
        }

        &.cut-selected-SUM{
            transform: rotate(45deg) translateX(calc(var(--max-width) * -1));
        }

        &.cut-selected-CHA{
            transform: rotate(45deg) translateX(calc(var(--max-width) * -2));
        }

        &.cut-selected-REL{
            transform: rotate(45deg) translateX(calc(var(--max-width) * -3));
        }

        &.cut-selected-BCA{
            transform: rotate(45deg) translateX(calc(var(--max-width) * -4));
        }
    }


}


.narrator-header{
    position: absolute;
    bottom: calc(100% + 2rem);
    left: 0;
    width: 100%;
    z-index: 1;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;

    .abf-name{
        font-size: 1rem;
        font-weight: 200;
        color: var(--color-secondary);
        white-space: pre-wrap;
        width: 1rem;
        line-height: 1rem;
        text-transform: lowercase;
    }

    img{
        height: 6rem;
    }
}

.canvas{
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
}

.animation-controls {
    position: absolute;
    z-index: 10;

}

.navigator-list {
    list-style: none;
    padding: 0;

    position: absolute;
    left: 0;
    top: 0;

    margin: 5rem 6rem;
    font-size: 3.5rem;
    font-weight: 900;
    transform-origin: 0 0;

    span{
        opacity: 0.1;
        transition: opacity 0.2s;
        cursor: pointer;

        &:hover, &.selected{
            opacity: 1;
        }

        &.selected{
            pointer-events: none;
        }
    }
}



.portfolios{
    margin-top: 95vh;
    margin-bottom: 10rem;
}

.portfolios-container{
    width: var(--portfolio-width);
    background-color: #28262b;
    margin: 0 auto;
    position: relative;
    z-index: 1;
    height: 88vh;
    box-shadow: 0 1rem 2rem #0000006b;
    border-radius: 3rem;
}


@include aspect-portrait {
    .app {
        max-width: var(--max-width);
        margin: 0 auto;
    }

    .narrator {
        position: fixed;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
    }

}


@include aspect-landscape {

    .portfolios{
        max-width: 60%;
    }

    .narrator {
        position: fixed;
        z-index: 2;
        left: 4rem;
        top: 10rem;
    }


}


@include aspect-landscape-large {

    .narrator {
        left: calc(50% + -47rem);
        top: 15%;
    }

    .portfolios{
        margin-left: auto;
        margin-right: auto;
    }


}